# Install Torch first
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

# Now install Flash Attention
flash-attn

# Other dependencies
opencv-python
diffusers
transformers
tokenizers
accelerate
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
gradio
numpy
